body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
    background: linear-gradient(to right, #f8f8f8, #e0e0e0);
}

body.dark-mode {
    background-color: #333;
    /* Add dark mode */
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    animation-name: fadeIn;
    animation-duration: 1s;
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    display: inline-block;
}

section {
    padding: 20px;
    transition: transform 0.5s ease;
    margin-bottom: 20px;
}

section:hover {
    transform: scale(1.01);
    /* Enlarge the section on hover */
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
    /* Add some shadow to the section */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

nav ul li a {
    text-align: center;
    /* Center the text vertically */
    color: #faf7f7;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
    /* Change color on hover */
    transform: scale(1.2);
    /* Enlarge the link on hover */

}

#skills ul {
    display: flex;
    /* Use flexbox */
    flex-wrap: wrap;
    /* Allow the items to wrap as needed */
    justify-content: space-around;
    /* Distribute items evenly */
    padding: 0;
    /* Remove default padding */
    list-style-type: none;
    /* Remove default list style */
}

#skills li {
    display: flex;
    /* Use flexbox for centering content inside the li */
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    margin: 20px;
    width: 100px;
    /* Set the width of the cards */
    height: 50px;
    /* Set the height of the cards */
    background-color: #f8f8f8;
    /* Set the background color of the cards */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Add some shadow to the cards */
    transition: 0.3s;
    /* Add some transition for hover effects */
    padding: 20px;
    /* Add some padding inside the cards */
    text-align: center;
    /* Center the text inside the cards */
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#skills li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Change the shadow on hover */
}

/* Other CSS rules... */

.flex-container {
    display: flex;
    justify-content: space-between;
    width: 98%; /* Ensure the flex container takes up the full width */
    align-items: center;
}

.social-icons {
    font-size: 1.5em; /* Increase the size of the icons */
}

.social-icons a {
    margin: 0 10px; /* Add some space between the icons */
    color: inherit; /* Make the icons the same color as your text */
    text-decoration: none; /* Remove the underline */
}
.social-icons a:hover {
    color: #ffcc00; /* Change the color on hover */
}

/* Other CSS rules... */

#projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align title to left */
}

#projects .title {
    margin-bottom: 20px;
    /* Add space between title and cards */
}

#projects .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects .card {
    flex: 0 0 calc(30% - 20px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    box-sizing: border-box;
}

#projects .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
